* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.buttonlar {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
  margin-bottom: 15px;
}
.buttonlar .btn {
  width: 70px;
  height: 25px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.342s;
}
.buttonlar .btn:hover {
  transform: scale(1.012);
  transition: 0.342s;
  opacity: 0.8;
}
.buttonlar .alertBtnInfo {
  background-color: #509AF8;
  color: rgb(255, 255, 255);
}
.buttonlar .alertBtnWarning {
  background-color: rgb(247, 199, 82);
  color: rgb(117, 81, 24);
}
.buttonlar .alertBtnSuccess {
  background-color: rgb(132, 214, 90);
  color: rgb(57, 58, 55);
}

.alertBtn {
  background-color: red;
  color: white;
  padding: 5px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.alertcontainer {
  width: 100%;
  position: relative;
  height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.alertcontainer .loginBtn {
  width: 28%;
  height: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
.alertcontainer .loginBtn .login {
  width: 60px;
  height: 20px;
  background-color: #ba958b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.678s;
}
.alertcontainer .loginBtn .login:hover {
  transform: scale(1.038);
  transition: 0.876s;
  opacity: 0.7;
}
.alertcontainer .loginBtn .loginRegister {
  background-color: #cf0404;
}
.alertcontainer .loginBtn .Sign {
  width: 100%;
  height: 106.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;
  background-color: rgba(117, 105, 105, 0.5);
  position: absolute;
  top: -50px;
  /* left: 0; */
  z-index: 1;
}
.alertcontainer .loginBtn .Sign-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 28%;
  height: 50%;
  gap: 19px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
  position: relative;
}
.alertcontainer .loginBtn .Sign-container .fa-circle-xmark {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #ba958b;
  cursor: pointer;
}
.alertcontainer .loginBtn .Sign-container .fa-circle-xmark:hover {
  color: red;
  transform: scale(1.12);
  transition: 0.987s;
}
.alertcontainer .loginBtn .Sign-container p {
  font-size: 14px;
  color: #ba958b;
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
}
.alertcontainer .loginBtn .Sign-container .email {
  padding: 2px 13px;
  width: 212px;
  height: 29px;
  background-color: #eee;
  border: 1px solid #fff;
  border-radius: 6px;
}
.alertcontainer .loginBtn .Sign-container .daxil-ol {
  background-color: #ba958b;
  cursor: pointer;
}
.alertcontainer .loginBtn .Signup {
  width: 100%;
  height: 106.7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(117, 105, 105, 0.5);
  position: absolute;
  top: -50px;
  z-index: 1;
}
.alertcontainer .loginBtn .Signup-container {
  width: 29%;
  height: 72%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 19px;
  position: relative;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  border-radius: 10px;
}
.alertcontainer .loginBtn .Signup-container .fa-circle-xmark {
  position: absolute;
  top: 6px;
  right: 6px;
  color: #ba958b;
  cursor: pointer;
}
.alertcontainer .loginBtn .Signup-container .fa-circle-xmark:hover {
  color: red;
  transform: scale(1.12);
  transition: 0.987s;
}
.alertcontainer .loginBtn .Signup-container p {
  font-size: 14px;
  color: #ba958b;
  cursor: pointer;
  text-align: center;
  margin-bottom: 8px;
}
.alertcontainer .loginBtn .Signup-container .ad {
  padding: 2px 13px;
  width: 106px;
  height: 29px;
  background-color: #eee;
  border: 1px solid #fff;
  border-radius: 6px;
}
.alertcontainer .loginBtn .Signup-container .email {
  padding: 2px 13px;
  width: 212px;
  height: 29px;
  background-color: #eee;
  border: 1px solid #fff;
  border-radius: 6px;
}
.alertcontainer .loginBtn .Signup-container .qayda {
  width: 215px;
  font-size: 12px;
  display: flex;
  align-items: flex-start;
  gap: 3px;
}
.alertcontainer .loginBtn .Signup-container .qayda .checkbox {
  width: 11px;
  height: 14px;
}
.alertcontainer .loginBtn .Signup-container .qayda .qaydalar .qaydalink {
  color: #ba958b;
  cursor: pointer;
  transition: 0.987s;
}
.alertcontainer .loginBtn .Signup-container .qayda .qaydalar .qaydalink:hover {
  color: black;
}
.alertcontainer .loginBtn .Signup-container .daxil-ol {
  background-color: #ba958b;
  cursor: pointer;
}
.alertcontainer .block {
  display: block !important;
}
.alertcontainer .alert {
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  right: 0;
  position: absolute;
  padding: 20px;
}
.alertcontainer .alert .error {
  width: 100%;
  background-color: rgb(252, 232, 219);
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.alertcontainer .alert .error .fa-exclamation {
  border-radius: 18px;
  background-color: red;
  padding: 5px 11px;
  margin-left: 10px;
  color: white;
}
.alertcontainer .alert .error span {
  padding-left: 10px;
  color: rgb(113, 25, 47);
}
.alertcontainer .alert .error .fa-xmark {
  position: absolute;
  right: 8px;
  color: rgb(113, 25, 47);
  cursor: pointer;
  transition: 0.345s;
}
.alertcontainer .alert .error .fa-xmark:hover {
  color: red;
  transform: scale(1.023);
  transition: 0.345s;
}
.alertcontainer .alert .info {
  width: 100%;
  background-color: rgb(215, 241, 253);
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.alertcontainer .alert .info .fa-exclamation {
  border-radius: 18px;
  background-color: #509AF8;
  padding: 5px 11px;
  margin-left: 10px;
  color: white;
}
.alertcontainer .alert .info span {
  padding-left: 10px;
  color: rgb(12, 42, 117);
}
.alertcontainer .alert .info .fa-xmark {
  position: absolute;
  right: 8px;
  color: #0C2A75;
  cursor: pointer;
  transition: 0.345s;
}
.alertcontainer .alert .info .fa-xmark:hover {
  color: red;
  transform: scale(1.023);
  transition: 0.345s;
}
.alertcontainer .alert .warning {
  width: 100%;
  background-color: rgb(254, 247, 209);
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.alertcontainer .alert .warning .fa-triangle-exclamation {
  margin-left: 10px;
  color: rgb(247, 199, 82);
}
.alertcontainer .alert .warning .warning-cont {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.alertcontainer .alert .warning .warning-cont .warning-up {
  color: rgb(117, 81, 24);
}
.alertcontainer .alert .warning .warning-cont .warning-down {
  color: rgb(117, 81, 24);
}
.alertcontainer .alert .warning .fa-xmark {
  position: absolute;
  right: 8px;
  color: rgb(117, 81, 24);
  cursor: pointer;
  transition: 0.345s;
}
.alertcontainer .alert .warning .fa-xmark:hover {
  color: red;
  transform: scale(1.023);
  transition: 0.345s;
}
.alertcontainer .alert .success {
  width: 100%;
  background-color: rgb(132, 214, 90);
  border-radius: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.alertcontainer .alert .success .fa-circle-check {
  margin-left: 10px;
  color: rgb(57, 58, 55);
}
.alertcontainer .alert .success span {
  padding-left: 10px;
  color: rgb(43, 100, 30);
}
.alertcontainer .alert .success .fa-xmark {
  position: absolute;
  right: 8px;
  color: rgb(57, 58, 55);
  cursor: pointer;
  transition: 0.345s;
}
.alertcontainer .alert .success .fa-xmark:hover {
  color: red;
  transform: scale(1.023);
  transition: 0.345s;
}

.hidden {
  display: none !important;
}/*# sourceMappingURL=style.css.map */